.how-stat-left {left:0;z-index:2147483643;position:fixed;top:0;}
#how_stat_result {font-family:Helvetica, Arial, sans-serif;color:#555;line-height:1;font-size:12px;}
.how-stat-button {
    display:block;border-bottom-right-radius:10px;border-right:1px solid #888888;z-index:2147483640;
    border-bottom:1px solid #888888;background-color:#fff;padding:4px 7px;text-align:right;cursor:pointer;
}
.how-stat-button.active {background-color:maroon;}
.how-stat-button.non-active {background-color:ghostwhite;}
.how-stat-number {color:#111111;font-family:Consolas, monospace, serif;}
.how-stat-button.active .stat-number{color:#fff;font-weight:bold;}
#how_stat_popup {
    top: -1px;max-height: 534px;left: 168px;display:block;z-index:2147483641;position:absolute;
    background:#fff;border:1px solid #aaa;padding:5px 10px;text-align:left;line-height:18px;overflow:auto;
    -webkit-box-shadow:0 1px 15px #555555;box-shadow:0px 1px 15px #555555;
}
#templateTarget {font-size: 10px;color: black;}
.used-step {font-weight: bold;}
.cucumber, td, th {font: normal 11px "Lucida Grande", Helvetica, sans-serif;background: white;color: black;}
.cucumber .scenario h3, td .scenario h3, th .scenario h3 {padding:3px;margin:0;}
.cucumber div.feature, td div.feature, th div.feature {padding:2px;margin:0px 10px 5px 10px;}
.cucumber .step_name, td .step_name, th .step_name {float:left;}
.cucumber .step_file, td .step_file, th .step_file {text-align:right;color:#999999;}
.cucumber .scenario_file, td .scenario_file, th .scenario_file {float:right;color:#999999;}
.cucumber .tag, td .tag, th .tag {font-weight: bold;color:#246ac1;}
.cucumber table, td table, th table {border-collapse:collapse;}
.cucumber table td, td table td, th table td {padding:3px 3px 3px 5px;}
.cucumber ol, td ol, th ol {list-style:none;margin:0px;padding: 0px;}
.cucumber ol li.step, td ol li.step, th ol li.step {padding:3px 3px 3px 18px;margin:3px 0px 3px 5px;}
.cucumber ol li.passed, td ol li.passed, th ol li.passed {border-left:5px solid #65c400;border-bottom:1px solid #65c400;background:#dbffb4;color:#3d7700;}