.how_stat_popup__close {
    width: 24px;
    height: 24px;
    background: #4f4f4f;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.how-stat-button {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-bottom-right-radius: 10px;
    z-index: 2147483640;
    padding: 4px 7px;
    text-align: right;
    cursor: pointer;
    font-size: 12px;
    background: #fff;
    border-color: #999999;
    color: #797979;
}

.how-stat-left {
    margin: 10px 5% 0;
}
#how_stat_result {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    line-height: 1;
    font-size: 12px;
}
.how-stat-button.active {
    background: #800000;
    color: #333;
}
.how-stat-button.non-active { background-color: ghostwhite; border: 1px solid #888888; }
.how-stat-number { color: #666; font-family: Consolas, monospace, serif; }
.how-stat-button.active .stat-number{ color: #fff; font-weight: bold; }
#how_stat_popup {
    position: relative;
    margin: 0 auto;
    display: block;
    z-index: 2147483641;
    background: #fff;
    border: 1px solid #aaa;
    padding: 5px 10px;
    text-align: left;
    line-height: 18px;
    overflow: auto;
    -webkit-box-shadow: 0 1px 15px #555555;
    box-shadow: 0px 1px 15px #555555;
}

p.narrative {
    font-style: italic;
    background: #F5F5DC;
    padding: 5px 20px;
}

.background h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
.background h3 {
    background: #666666;
    color: #fff;
    padding: 3px 5px;
    font-weight: 400;
}
.scenario h3 {
    background: #65C400;
    color: #fff;
    padding: 3px 5px;
    margin: 10px 0;
    font-weight: 400;
}
#templateTarget {font-size: 10px;color: black;}
.used-step {font-weight: bold;}
.cucumber, td, th {font: normal 13px "Helvetica Neue",Helvetica,Arial,sans-serif;background: white;color: black;}
.cucumber .scenario h3, td .scenario h3, th .scenario h3 {padding:3px;margin:0; background: #65C400;}
.cucumber div.feature, td div.feature, th div.feature {padding:2px;margin:0px 10px 5px 10px;}
.cucumber .step_name, td .step_name, th .step_name {float:left;}
.cucumber .step_file, td .step_file, th .step_file {text-align:right;color:#999999;}
.cucumber .scenario_file, td .scenario_file, th .scenario_file {float:right;color:#999999;}
.cucumber .tag, td .tag, th .tag {font-weight: bold;color:#246ac1;}
.cucumber table, td table, th table {border-collapse:collapse;}
.cucumber table td, td table td, th table td {padding: 3px 10px 3px 10px; border: 1px solid #cccccc;}
.cucumber ol, td ol, th ol {list-style:none;margin:0px;padding: 0px;}
.cucumber ol li.step, td ol li.step, th ol li.step {
    padding: 3px 3px 3px 18px;
    margin: 3px 0px 3px 5px;
}
.cucumber ol li.passed, td ol li.passed, th ol li.passed,
.cucumber ol li .passed_blue[span*="used-step"] {
    border-left: 5px solid #00ffff;
    border-bottom: 1px solid #00ffff;
    background: #caffff;
}

.cucumber ol li.skipped, td ol li.skipped, th ol li.skipped  {
    background: #F0FFFF;
    border-bottom: 1px solid #00FFFF;
    border-left: 5px solid #00FFFF;
    color: #001111;
}

.skipped .keyword,
.passed .keyword {
    color: #BE5E25;
    font-weight: bold;
}

.step table {
    margin-top: 10px;
}

.cucumber table tr:nth-child(odd) td, table tr:nth-child(odd) td {
    background-color: #f0ffff;
}

.cucumber table tr:first-of-type td {
    font-weight: bold;
    text-align: center;
    background-color: #e5e5e5;
}

pre.val {
    background: #fff;
    font-style: italic;
    border: 1px solid #ccc;
    padding: 5px 5px;
    border-radius: 2px;
    color: blue;
}

a.how_stat_popup__link,
a:visited.how_stat_popup__link {
    display: block;
    float: left;
    margin: 10px 10px;
    color: red;
    text-decoration: underline;
}

a:hover.how_stat_popup__link {
    text-decoration: none;
}

.clearfix {
    clear: both;
}