#hs_popup__close {
    width: 24px;
    height: 24px;
    background: #4f4f4f;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

#hs_tooltip {
    position: fixed;
    top:0;
    left:0;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 2147483640;
}

.hs-button, .hs-button-active {
    display: block;
    z-index: 2147483640;
    text-align: center;
    color: #797979;
    background-color: ghostwhite;
    border: 1px solid #888888;
}

#hs_tooltip li:last-child,
#hs_tooltip li:last-child :hover{
    border-bottom-right-radius: 10px;
}

.hs-button-active :hover {
    background: #800000;
    color: white;
    cursor: pointer;
}

#hs_result {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    line-height: 1;
    font-size: 12px;
}

.hs-number {
    color: #666;
    font-family: Consolas, monospace, serif;
    padding: 0 5px;
    line-height: 1.5em;
    font-size: 11px;
}

.hs-number.error {
    color: red;
}
.hs-button.active .stat-number{ color: #fff; font-weight: bold; }

#hs_popup {
    display: block;
    z-index: 2147483641;
    background: #fff;
    border: 1px solid #aaa;
    padding: 5px 10px;
    text-align: left;
    line-height: 18px;
    overflow: auto;
    -webkit-box-shadow: 0 1px 15px #555555;
    box-shadow: 0px 1px 15px #555555;
    margin: 10px 5% 0;
    position: absolute;
    top: 0;
    width: 88.5%;
}

#hs_popup p.narrative {
    font-style: italic;
    background: #F5F5DC;
    padding: 5px 20px;
}

#hs_popup .scenario {
    margin-top: 1px;
}

#hs_popup .background h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
#hs_popup .background h3 {
    background: #666666;
    color: #fff;
    padding: 3px 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
#hs_popup .scenario h3 {
    background: #65C400;
    color: #fff;
    padding: 3px 5px;
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
#hs_popup #templateTarget {font-size: 10px;color: black;}
#hs_popup .used-step {font-weight: bold;}
#hs_popup .cucumber, td, th {font: normal 13px "Helvetica Neue",Helvetica,Arial,sans-serif;background: white;color: black;}
#hs_popup .cucumber .scenario h3, td .scenario h3, th .scenario h3 {padding:3px;margin:0; background: #65C400;}
#hs_popup .cucumber div.feature, td div.feature, th div.feature {padding:2px;margin:0px 10px 5px 10px;}
#hs_popup .cucumber .step_name, td .step_name, th .step_name {float:left;}
#hs_popup .cucumber .step_file, td .step_file, th .step_file {text-align:right;color:#999999;}
#hs_popup .cucumber .scenario_file, td .scenario_file, th .scenario_file {float:right;color:#999999;}
#hs_popup .cucumber .scenario_file {
    margin-right: 5px;
}
#hs_popup .cucumber .tag, td .tag, th .tag {font-weight: bold;color:#246ac1;}
#hs_popup .cucumber table, td table, th table {border-collapse:collapse;}
#hs_popup .cucumber table td, td table td, th table td {padding: 3px 10px 3px 10px; border: 1px solid #cccccc;}
#hs_popup .cucumber ol, td ol, th ol {list-style:none;margin:0px;padding: 0px;}
#hs_popup .cucumber ol li.step, td ol li.step, th ol li.step {
    padding: 3px 5px 3px 18px;
    margin: 3px 0px 3px 5px;
}
#hs_popup .cucumber ol li.passed, td ol li.passed, th ol li.passed,
#hs_popup .cucumber ol li .passed_blue[span*="used-step"] {
    border-left: 5px solid #00ffff;
    border-bottom: 1px solid #00ffff;
    background: #caffff;
}

#hs_popup .cucumber ol li.skipped, td ol li.skipped, th ol li.skipped  {
    background: #F0FFFF;
    border-bottom: 1px solid #00FFFF;
    border-left: 5px solid #00FFFF;
    color: #001111;
}

#hs_popup .skipped .keyword,
#hs_popup .passed .keyword {
    color: #BE5E25;
    font-weight: bold;
}

#hs_popup .step table {
    margin-top: 10px;
    margin-right: 18px;
}

#hs_popup table tr:nth-child(odd) td {
    background-color: #f0ffff;
}

#hs_popup table tr {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
}

#hs_popup .cucumber table tr:first-of-type td {
    font-weight: bold;
    text-align: center;
    background-color: #e5e5e5;
}

#hs_popup pre.val {
    background: #fff;
    font-style: italic;
    border: 1px solid #ccc;
    padding: 5px 5px;
    border-radius: 2px;
    color: blue;
    margin-right: 18px;
}

#hs_popup a.hs_popup__link,
#hs_popup a:visited.hs_popup__link {
    display: block;
    float: left;
    margin: 10px 10px;
    color: red;
    text-decoration: underline;
}

#hs_popup a:hover.hs_popup__link {
    text-decoration: none;
}

#hs_popup .clearfix {
    clear: both;
}